body{
    background: wheat;
    text-align: center;
    margin: 1%;
    padding: 10%;
    
}




.profile-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}